/.vscode
/3Dhist-as-linear.jpg
/allocating-own-hist-pointers-v1.jpg
/bin
/build
/CMakeCache.txt
/CMakeFiles
/cmake_install.cmake
/create-2D3Dhist-and-access.jpg
/csv_util.zip
/Makefile
/own-hist-double-pointer.jpg
/readfiles.cpp
/ref.txt
/Shapiro-Stockman-CBIR-ch8.pdf
/SSD.jpg